[Unit]
Description=Damien-Coopmans-Installer

[Service]
#ExecStartPre=
ExecStart=/root/run.sh
SyslogIdentifier=Diskutilization
#ExecStop=

[Install]
WantedBy=multi-user.target
